<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p | %d{dd-MM-yyyy HH:mm:ss} | %t | %F:%L | %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${com.sun.aas.instanceRoot}/logs/testservice.log" />
        <param name="datePattern" value="'.'yyyy-MM-dd" />
        <param name="append" value="true" /> 
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p | %d{dd-MM-yyyy HH:mm:ss} | %t | %F:%L | %m%n"/>
        </layout>
    </appender> 

    <root>
        <priority value="DEBUG"></priority>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>
